@import url(https://fonts.bunny.net/css?family=poppins:100,200,300,400,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}